<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
    <p-card header="Registers" [style]="{width: '360px'}">
        <div class="field">
            <label for="fullName">FullName</label>
            
            <input type="text" pInputText formControlName="fullName" class="w-full" name="fullName" placeholder="Type your Name"/>
            <small *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="block p-error">
                <div *ngIf="fullName.errors?.['required']">Name Is Required</div>
                <div *ngIf="fullName.errors?.['pattern']">Enter Valid Name</div>

            </small>
        </div>
        <div class="field">
            <label for="email">Email</label>
            
            <input type="text" pInputText formControlName="email" class="w-full" name="email" placeholder="Type your email"/>
            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                <div *ngIf="email.errors?.['required']">Email Is Required</div>
                <div *ngIf="email.errors?.['email']">Email Should be valid</div>

            </small>
        </div>
        <div class="field">
            <label for="password">Password</label>
            
            <input type="password" pInputText formControlName="password" class="w-full" name="password" placeholder="Type your password"/>
            <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
                <div *ngIf="password.errors?.['required']">Password Is Required</div>
            </small>
            <small class="block p-error" *ngIf="registerForm.errors?.['passwordMissmatch'] && confirmPassword.valid && password.valid">
                password should match
            </small>
        </div>
        <div class="field">
            <label for="confirmPassword">Confirm Password</label>
            
            <input type="password" pInputText formControlName="confirmPassword" class="w-full" name="confirmPassword" placeholder="Confirm Password"/>
            <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="block p-error">
                <div *ngIf="confirmPassword.errors?.['required']">Confirm The Password</div>
            </small>
        </div>
        
    <p-button label="Register" styleClass="w-full" [disabled]="registerForm.invalid" type="submit"></p-button>
    <div class="mt-2">
        Already a member? <a routerLink="/login">Login</a>
    </div>
    </p-card>
</form>